body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* grid container */
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  position: relative;
  /* border: solid orange; */
}

.header {
  grid-row: 1;
  grid-column: 2;
  /* border: solid red; */
}

/* iframe wrapper */
.wrapper {
  display: inline-block;
  /* border: solid pink; */
  /* margin: auto 0px; */
  grid-row: 2;
  grid-column: 2;
  /* border: solid pink; */
}

.center {
  grid-row: 2;
  grid-column: 1/4;
  /* border: solid orange; */
  position: relative;
}

.bottom {
  grid-row: 3;
  grid-column: 2;
  /* border: solid purple; */
  padding: 20px 0px 20px 0px;
  text-align: center;
  display: inline-block;
}

.button-group {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  /* border: solid red; */
}
/* #refresh {
  position: relative;
  margin-left: 48%;
} */

h1 {
  font-size: 7vw;
  /* position: relative; */
  text-align: center;
  color: #ebbc20;
}

p {
  font-family: Lucida Console, Lucida Sans Typewriter, monaco,
    Bitstream Vera Sans Mono, monospace;
}

a {
  font-family: Lucida Console, Lucida Sans Typewriter, monaco,
    Bitstream Vera Sans Mono, monospace;
  color: #335be1;
}

a:visited {
  color: #335be1;
}

#header {
  font-size: 50px;
  position: relative;
  font-family: "Arial";
  text-align: center;
}

#player {
  display: block;
  margin-top: 10px;
}
#apiKeyForm {
  position: relative;
}

#home {
  color: red;
}

button {
  background-color: transparent;
}

button:hover {
  background-color: transparent;
  box-shadow: 3px 3px 10px 0px #cfcece;
}

input {
  background-color: transparent;
}

.form-center {
  grid-column: 2;
  grid-row: 1;
  /* border: solid red; */
  text-align: center;
}
/* possible iframe controls */
.auto-resizable-iframe {
  max-width: 420px;
  margin: 0px auto;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 75%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#myForm {
  display: inline-block;
}

.header_buttons {
  margin-bottom: 20px;
}

.radio-group {
  /* border: solid yellow; */
  float: right;
}

.button-group {
  display: inline;
  /* border: solid red; */
  float: left;
}
